<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="create.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <title></title>
</head>

<body>
  <a href="/" class="goHome">
    <i class="fas fa-book-open"></i>
  </a>
  <a href="/profile" class="back">
    <h3>Back</h3>
  </a>
  <section>
    <% if (user.local.email) { %>
    <form action="/stories" method="POST">
      <input type="text" value="<%= user.local.email %>" name="name">
      <input type="text" placeholder="" name="stories" class="storyInput">
      <button type="submit">Submit</button>
    </form>
  </section>
  <% } %>
</body>

</html>
