<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="read.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <title></title>
</head>

<body>
  <a href="/"><i class="fas fa-book-open"></i></a>
  <h1>WELCOME TO THE WORLD OF BOOKS!</h1>
  <section>
    <ul>
      <a href="#">
        <li>Horror</li>
      </a>
      <a href="#">
        <li>Comedy</li>
      </a>
      <a href="#">
        <li>Si-Fi</li>
      </a>
      <a href="#">
        <li>Romantic</li>
      </a>
      <a href="#">
        <li>Adventure</li>
      </a>
      <a href="#">
        <li>Mistery</li>
      </a>
      <a href="#">
        <li>Fan-Fiction</li>
      </a>
    </ul>
  </section>
  <section>


    <!-- <% for(var i=0; i<stories.length; i++) {%>
        <li class="bookslist">
          <section>
          <h4 class="books"><%= stories[i].book %></h4>
         </section>
        </li>
        <% } %> -->
  </section>
</body>

</html>
