body {
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: auto;
  color: white;
  grid-auto-rows: minmax(100px, auto);
  font-family: 'Playfair Display', serif;
  margin: 0 0 0 0;
}

.container {
  background-image: url(/img/blueblue.jpeg);
  height: 500px;
  width: 100%;
  grid-column: 1/5;
  grid-row: 1/2;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
  background-position: center;
}
h5{
  grid-column: 2/4;
  grid-row: 2/3;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid black;
  border-bottom-width: thick;
  border-top: 2px solid black;
  border-top-style: ridge;
  border-color: rgba(255, 0, 0, 0.5);
  text-align: center;
  font-weight: 300;
  color: black;
  font-size: 2rem;
  margin: 0 0 600px 25%;
  max-width: 50%;
}
.container>section {
  background-color: rgba(2,21,37);
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 1/5;
  grid-row: 1/2;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1/4;
  grid-row: 2/3;
}

input {
  border-radius: 5%;
  margin: 70px 0 10px 13%;
  height: 30px;
  width: 30%;
  display: block;
}

.storyInput {
  margin: 0 0 0 13%;
  height: 200px;
  width: 70%;
}
.storyInput+span {
  margin: 0 0 0 13%;
  height: 200px;
  width: 70%;
}
a:hover {
  color: white;
  text-shadow: 0px 0px 0px red;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a {
  text-decoration: none;
  color: white;
}

.back {
  font-size: 1.5rem;
  margin: 0 0 0 50%;
  grid-column: 4/5;
}

.back>h3 {
  margin: 10px 0 0 0;
}

i {
  font-size: 2.5rem;
}

.bookWrite {
  margin: 100px 0 0 0;
  background-color: rgba(2,21,37);
  grid-column: 2/4;
  grid-row: 2/3;
  border-radius: 10px;
}

select {
  margin: 20px 20px 0 2%;
  width: 20%;
  height: 20px;
}

button {
  margin: 20px 0 0 0;
  height: 30px;
  width: 15%;
}

.fa-book-open {
  margin: 7px 0 0 5%;
}
.fa-book-open:before {
    font-size: 2.3rem;
}
.title{
  margin: 0 0 10px 13%;
  display: inline-block;
}
span{
  font-size: 1.3rem;
  margin: 0 0 0 3%;
}
